<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @status.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @status.content %>
</p>

<%= link_to 'Edit', edit_status_path(@status), class: "btn btn-default" %>  
<%= link_to 'See Statuses', statuses_path, class: "btn btn-primary" %>
